<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4aZDi7u7SarI_uCKiYVkwsOYn1B6XLEI</string>
	<key>GCM_SENDER_ID</key>
	<string>325145915220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reefSaudi</string>
	<key>PROJECT_ID</key>
	<string>reef-2158c</string>
	<key>STORAGE_BUCKET</key>
	<string>reef-2158c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325145915220:ios:59042ad9f8b09cc48862c1</string>
</dict>
</plist>